.homeContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 100%;
    grid-template-areas: 
      "search search"
      "recentInspections recentInspections";
    height: 100%;
}

.searchContainer {
    grid-area: search;
    color: red;
    text-align: center;
    border: 3px solid red;
}

.recentInspections{
    grid-area: recentInspections;
    color: blue;
    text-align: center;
    border: 3px solid blue;
}